# My Notebook

In [34]:
import pandas as pd

file_path1 = "data/speed_price_att_other_cities.csv"
df1 = pd.read_csv(file_path1)

file_path2 = "data/speed_price_att.csv"
df2 = pd.read_csv(file_path2)

file_path3 = "data/speed_price_centurylink.csv"
df3 = pd.read_csv(file_path3)

file_path4 = "data/speed_price_earthlink.csv"
df4 = pd.read_csv(file_path4)

file_path5 = "data/speed_price_verizon.csv"
df5 = pd.read_csv(file_path5)

df = pd.concat([df1, df2, df3, df4, df5])

In [35]:
df = df.drop(columns=['address_full', 'incorporated_place', 'state', 'lat', 'lon', 'availability_status', 'block_group', 'collection_datetime', 'technology', 'package', 'fastest_speed_down', 'fastest_speed_price', 'fn', 'redlining_grade', 'geoid', 'race_perc_non_white', 'internet_perc_broadband', 'median_household_income', 'income_lmi', 'ppl_per_sq_mile', 'n_providers', 'income_dollars_below_median', 'closest_fiber_miles', 'address_full_closest_fiber', 'lat_closest_fiber', 'lon_closest_fiber', 'contract_provider', 'in_service', 'speed_unit'])
df.drop(df[df['speed_down'] == 0].index, inplace= True)
df.head(10)

   major_city provider  speed_down  speed_up  price
7   cleveland     AT&T         1.0       1.0   55.0
10  cleveland     AT&T         5.0       1.0   55.0
20  cleveland     AT&T         1.0       1.0   55.0
29  cleveland     AT&T         1.0       1.0   55.0
31  cleveland     AT&T       300.0     300.0   55.0
33  cleveland     AT&T       300.0     300.0   55.0
34  cleveland     AT&T       300.0     300.0   55.0
35  cleveland     AT&T       300.0     300.0   55.0
36  cleveland     AT&T       300.0     300.0   55.0
37  cleveland     AT&T       300.0     300.0   55.0

In [37]:
print(df.major_city.unique())
print(df.provider.unique())
print(df.speed_down.unique())
print(df.speed_up.unique())
print(df.price.unique())

df.shape

['cleveland' 'memphis' 'huntsville' 'little rock' 'los angeles'
 'jacksonville' 'atlanta' 'chicago' 'indianapolis' 'wichita' 'louisville'
 'new orleans' 'detroit' 'kansas city' 'jackson' 'charlotte' 'columbus'
 'oklahoma city' 'charleston' 'nashville' 'houston' 'milwaukee' 'phoenix'
 'denver' 'des moines' 'boise' 'minneapolis' 'billings' 'fargo' 'omaha'
 'albuquerque' 'las vegas' 'portland' 'sioux falls' 'salt lake city'
 'seattle' 'cheyenne' 'bridgeport' 'washington' 'wilmington' 'boston'
 'baltimore' 'newark' 'new york' 'staten island' 'queens' 'brooklyn'
 'bronx' 'philadelphia' 'providence' 'virginia beach']
['AT&T' 'CenturyLink' 'EarthLink' 'Verizon']
[1.00e+00 5.00e+00 3.00e+02 1.00e+02 5.00e+01 7.50e+01 7.68e-01 1.00e+01
 2.50e+01 1.80e+01 5.00e+02 2.00e+03 3.00e+00 8.00e+01 4.00e+01 3.00e+01
 1.40e+02 1.50e+01 6.00e+01 2.00e+02 2.00e+01 5.00e-01 1.50e+00 6.00e+00
 2.40e+01 4.50e+01 1.20e+01 9.00e+00 7.10e+00]
[1.00e+00 3.00e+02 2.00e+01 1.00e+01 3.84e-01 5.00e+00 2.00e+00 5.00e+02
 1.00e+02 2.00e+03 3.00e+00 1.50e+00 7.50e-01 2.00e+02 5.00e-01 2.50e-01
 6.00e+00 8.00e+00 5.12e-01 7.68e-01 5.00e+01 1.50e+01 7.50e+01]
[ 55.    30.     0.    65.    50.    59.95  49.95  69.95  54.95  39.99
  49.99  40.   114.99  64.99  94.99  74.99  84.99]

(714799, 5)